.register-section {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.register-form {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #c23373, #d53a9d);
  border-style: solid;
  border-width: 1px 9px 6px 3px;
  width: 40%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1%;
  background: rgba(230, 220, 220, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.register-error {
  color: red;
  text-align: center;
  font-size: 1rem;
}

.register-label {
  margin-right: 1%;
  color: #c23373;
  font-weight: bold;
  position: relative;
  top: 2.5%;
  display: inline-block;
  width: 140px;
  text-align: left;
}

.register-form > h1 {
  color: #c23373;
  margin: 1% auto;
}

@media (max-width: 1536px) {
  .register-form {
    height: 90%;
    width: 50%;
    padding-bottom: 4%;
  }
  .register-form-h1 {
    font-size: 1.2rem;
  }
  .register-label {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .register-form {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .register-form {
    width: 70%;
  }
  .register-label {
    font-size: 0.8rem;
  }
  .register-form > h1 {
    font-size: 1rem;
  }
  .MuiTextField-root {
    height: 0.4rem;
  }
  .register-error {
    margin-top: 5%;
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .register-form {
    width: 80%;
  }
  .register-label {
    margin: 0 auto 1.5% auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .register-form {
    width: 95%;
  }
  .register-error {
    margin-top: 6%;
  }
}

@media (max-width: 400px) {
  .register-form {
    height: 90%;
    position: relative;
    margin: 15% auto;
  }
  .register-error {
    margin-top: 8%;
    font-size: 0.7rem;
  }
  .register-label {
    top: 0;
  }
}
