.missing-div {
  margin-top: 20%;
}

.missing-h1 {
  margin: auto;
  font-size: 3rem;
}

.missing-link-to-posts {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.missing-link-to-posts:hover {
  color: rgb(215, 32, 132);
}
